*{
    margin: 0;
    padding: 0;
}

.app{
    background: linear-gradient(to bottom,#3a3a3a 0% , #f1f1f1 50%,#3a3a3a 100% );
    height: 2000px;
}
.app .nothing {
    height: 100px;
    background-color: yellowgreen;
}

.app .header{
    height: 50px;
    width: 100vw;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: skyblue;
}